name: Continuous Deployment

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: execute deployment script on host
        uses: fifsky/ssh-action@master
        with:
          command: |
            cd nico/botantix/
            forever stop index.js
            git pull
            npm install
            forever start index.js
          host: ${{ secrets.HOST }}
          user: ubuntu
          pass: ${{ secrets.PASSWORD }}
          args: -tt