name: Continuous Deployment

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to host
        shell: bash
        env:
          HOST: ${{ secrets.host }}
          HOSTPW: ${{ secrets.hostpw }}
        run: |
          sshpass -p "$HOSTPW" ssh "$HOST"
          echo connected?